{{- if . -}}
<ul class="my-2">
    {{ range .ByPublishDate.Reverse }}
        <li class="mb-2 leading-relaxed list-item" style= "

        min-width: 100%;
        object-fit:cover;
        background-color: var(--gray-100);
        background-size: auto;
        border-radius: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0.5rem;
        margin-left: auto;
        margin-right: auto;

        ">
            <a style="font-size: 1rem; font-weight: 700; color: var(--body-font-color); margin-bottom: 1rem;" href="{{ .RelPermalink }}" href="{{ .RelPermalink }}" class="text-base border-b-2">
                {{- .Title -}}
            </a>
            <span class="text-xs">
                {{- .PublishDate.Format "2006/01/02" -}}
            </span>
            {{ partial "post-meta" . }}
        </li>
    {{ end }}
</ul>
{{- end -}}
