<div>
  <div>
    <div>
      <div class="headerbox">
        <h1 class="title" style="line-height: 1.2; font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem;">{{ if .Params.title }}{{ .Params.title }}</h1>
        {{ end }}
        <div class="tag">{{ if .Params.tag }}{{ .Params.tag }}</div>
        {{ end }}
        <div class="sitetag">{{ if .Params.sitetag }}{{ .Params.sitetag }}</div>
        {{ end }}
        <div class="emoji" id="whirlybat">{{ if .Params.emoji }}{{ .Params.emoji }}</div>
        {{ end }}
        </div>
      </div>
    </div>
</div>
